<apex:component Controller="BSureS_SupplierSearch">
 <style type="text/css">
        .pbSubheader {background-color: #35B4E9;}
        .msg{font-weight: bold; font-size:12px;color: red;}
        
        .homeTab .tertiaryPalette 
        { 
            border-color: #35B4E9 !important;
        }
    </style>
    
   
    <script>
    var vsupplier_ID;
    var vsupplier_name;
    var vsupplier_Add;
    var vsupplier_State;
    var vsupplier_City;
    var checkid;
    var vcheckedSupname;
    var vcheckedSupId;
    
    function funSearch()
    {
        vcheckedSupname = '';
        vcheckedSupId='';
       // Search();
    }
    
    function funClear()
    {   
        window.close();
    }
    
    function funValue(supname,supid,cb)
    {
        //vcheckedSupname = supname;
        //vcheckedSupId = supid;
        if(cb.checked)
        {
            vcheckedSupname = supname;
            vcheckedSupId = supid;
        }
        else
        {
            vcheckedSupname = '';
            vcheckedSupId='';
        }
        var inputElem = document.getElementsByTagName("input");
        for(var i=1; i<inputElem.length; i++)
        {
            if(inputElem[i].id.indexOf("checkedone")!=-1)
            {
                if(inputElem[i].name!=cb.name)
                {
                    inputElem[i].checked=false;
                }
            }
        }
    }
    
    function funSelect()
    {
        if(vcheckedSupname!=undefined && vcheckedSupname!='')
        {
            //fOR RELATED LIST
            if(window.opener.document.getElementById('pageId:cId:componentId:formId:pbTopic:pblinksSupSection:pblinksSuptitle:pblinksSupName:SupplierName')!=null)
            {
                var returlfieldSuplink = window.opener.document.getElementById('pageId:cId:componentId:formId:pbTopic:pblinksSupSection:pblinksSuptitle:pblinksSupName:SupplierName');
                returlfieldSuplink.value = vcheckedSupname;
            }
            //FOR SUPPLIER BASIC INFO
            if(window.opener.document.getElementById('pageId:formId:pbid:pbSid:pbSectionItem:SupplierName')!=null)
            {
                var returlfieldSuplink = window.opener.document.getElementById('pageId:formId:pbid:pbSid:pbSectionItem:SupplierName');
                returlfieldSuplink.value = vcheckedSupname;
                
                var returlfieldSupIDlink = window.opener.document.getElementById('pageId:formId:pbid:SupplierID'); 
                returlfieldSupIDlink.value = vcheckedSupId;
            }
            //Anu:for Reports
            if(window.opener.document.getElementById('pgrpt:frmDetails:SupplierName')!=null)
            {
                var returlfieldSuplink = window.opener.document.getElementById('pgrpt:frmDetails:SupplierName');
                returlfieldSuplink.value = vcheckedSupname;   
                
            }
            // Veera: for Reports
            if(window.opener.document.getElementById('page:frm:SupplierName') != null){
                var returlfieldSuplink = window.opener.document.getElementById('page:frm:SupplierName');
                returlfieldSuplink.value = vcheckedSupname;
                
                var returlfieldSupIDlink = window.opener.document.getElementById('page:frm:SupplierID'); 
                returlfieldSupIDlink.value = vcheckedSupId;
            }
            vcheckedSupname='';     
            window.close(); 
        }
        else
        {
            alert('Please select the check box');
        } 
    }
    </script>
    
    <apex:form id="formId">
        <apex:pageBlock title="{!$Label.Supplier_Lookup}" id="pblock" mode="maindetail">        
            <table width="100%">
            <tr>
                <td align="Center">
                <apex:messages styleClass="msg"/>
                </td>
            </tr>
            <br/>
            </table>    
            <apex:pageBlockSection title="Search by {!$Label.BSureS_Supplier_Information}" id="pbSecId" columns="2" >  
                <apex:pageBlockSectionItem >
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputPanel id="out">
                    <apex:actionStatus id="pleasewait" layout="block">
                        <apex:facet name="start">
                            <img src="{!$Resource.AjaxAnimation}"><span style="font-weight: bold; color:red;">Loading...</span></img>
                        </apex:facet> 
                    </apex:actionStatus>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
              
                <apex:pageBlockSectionItem >
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="{!$Label.SupplierName} " />
                     </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:inputText id="SupplierName" value="{!strSupplierName}" maxlength="100" style="width:80%" >
                            <c:BSureS_AutoComplete autocomplete_textbox="{!$Component.SupplierName}" objectname="Vertex_BSureS__BSureS_Basic_Info__c" additionalfield="Vertex_BSureS__Supplier_Name__c"/>
                        </apex:inputText>                  
                        <script>vsupplier_name=document.getElementById('{!$Component.SupplierName}');</script>                  
                    </apex:pageBlockSectionItem>
                </apex:pageBlockSectionItem> 
                <apex:pageBlockSectionItem >
                    <apex:pageBlockSectionItem > 
                        <apex:outputLabel value="{!$Label.SAPID}" />                       
                     </apex:pageBlockSectionItem> 
                     <apex:pageBlockSectionItem > 
                        <apex:inputText id="SAPID" value="{!strSAPId}" maxlength="100" style="width:80%" >
                        </apex:inputText>
                    </apex:pageBlockSectionItem>
                </apex:pageBlockSectionItem>  
                <apex:pageBlockSectionItem > 
                    <apex:outputLabel value="{!$Label.BSureS_Zone} "></apex:outputLabel>
                    <apex:selectList value="{!strSupplierZone}" id="SZid" size="1" style="width:80%"> 
                        <apex:selectOptions value="{!lstSZone}" /> 
                        <apex:actionSupport status="pleasewait" reRender="SSZid,SCid,SupplierState" event="onchange" action="{!getSubZoneList}" />
                    </apex:selectList> 
                </apex:pageBlockSectionItem> 
                <apex:pageBlockSectionItem > 
                    <apex:outputLabel value="{!$Label.BSureS_SubZone} "></apex:outputLabel>
                    <apex:selectList value="{!strSupplierSubZone}" id="SSZid" size="1" style="width:80%;"> 
                        <apex:selectOptions value="{!SSubZoneList}" /> 
                        <apex:actionSupport status="pleasewait" reRender="SCid,SupplierState" event="onchange" action="{!getCountriesList}" />
                    </apex:selectList> 
                </apex:pageBlockSectionItem>              
                <apex:pageBlockSectionItem > 
                    <apex:outputLabel value="{!$Label.BSureS_Country} "></apex:outputLabel>
                    <apex:selectList value="{!strSupplierCountry}" id="SCid" size="1" style="width:80%;"> 
                        <apex:selectOptions value="{!SCountriesList}" /> 
                        <apex:actionSupport status="pleasewait" reRender="SupplierState" event="onchange" action="{!getStateList}" />
                    </apex:selectList> 
                </apex:pageBlockSectionItem>  
                <apex:pageBlockSectionItem >
                    <apex:outputlabel value="{!$Label.State} " ></apex:outputlabel>
                    <apex:selectList value="{!strSupplierState}" id="SupplierState" size="1" style="width:80%;"> 
                        <apex:selectOptions value="{!SStateList}"/>
                        <script>vsupplier_State=document.getElementById('{!$Component.SupplierState}');</script>
                    </apex:selectList>                  
                </apex:pageBlockSectionItem>
               <apex:pageBlockSectionItem >
                     <apex:outputLabel value="{!$Label.City} " />
                     <apex:pageBlockSectionItem > 
                        <apex:inputText id="supCity" value="{!strSupplierCity}" maxlength="100" style="width:80%" >
                        </apex:inputText>
                        <script>vsupplier_City=document.getElementById('{!$Component.supCity}');</script>
                    </apex:pageBlockSectionItem>        
                </apex:pageBlockSectionItem> 
                <apex:pageBlockSectionItem >
                    <apex:outputLabel id="attSupplierID" value="{!strSupplierID}" rendered="false" />
                    <script>vsupplier_ID=document.getElementById('{!$Component.attSupplierID}');</script>
                </apex:pageBlockSectionItem> 
               
             </apex:pageBlockSection>
             
                
             <apex:pageBlockButtons location="bottom" style="padding-left: 160px">
                 <apex:actionStatus id="mySaveStatus1">
                 <apex:facet name="stop">
                     <apex:commandButton value="{!$Label.Search}" action="{!Search}" rerender="frmsup" status="mySaveStatus1" onClick="funSearch();"/>
                 </apex:facet>
                 <apex:facet name="start">
                     <apex:outputPanel >
                           <apex:image value="{!$Resource.AjaxAnimation}" style="height: 15px;"/>
                           <apex:commandButton value="Processing..." status="mySaveStatus1" disabled="true"/>
                       </apex:outputPanel>
                   </apex:facet>
                </apex:actionStatus>             
                     <apex:commandButton value="{!$Label.Cancel}"  style="cursor:pointer;cursor:hand;" onClick="funClear();"/>              
              </apex:pageBlockButtons>
        </apex:pageblock>       
        <apex:pageBlock title="{!$Label.SearchResult}" id="frmsup" >
            <apex:outputText rendered="{!(lstSupInfoPagination.size = 0)}" value="There are no Suppliers to display." style="Padding-left:300px;" styleClass="msg" />
            <apex:outputpanel id="pnlsearch" rendered="{!!(lstSupplierInfo.size = 0)}" >
            <div align="right" style="display:{!IF(NOT(ISNULL(totallistsize)),'block','none')}">
                 <b><font size="1pt" >Page &nbsp;<apex:outputLabel value="{!pageNumber}"/>&nbsp;of&nbsp;<apex:outputLabel value="{!totalPageNumber}"/>&nbsp;&nbsp;</font></b>
                 <font size="1pt">Results&nbsp;<apex:outputLabel value="{!PrevPageNumber}"/>&nbsp;to&nbsp;<apex:outputLabel value="{!NxtPageNumber}"/>&nbsp;of&nbsp;<apex:outputLabel value="{!totallistsize}"/>&nbsp;&nbsp;</font>
                 <apex:commandButton value="First" action="{!FirstbtnClick}" disabled="{!previousButtonEnabled}" reRender="frmsup"></apex:commandButton>
                 <apex:commandButton value="<< Previous" action="{!previousBtnClick}" disabled="{!previousButtonEnabled}" reRender="frmsup"></apex:commandButton>
                 <apex:commandButton value="Next >>" action="{!nextBtnClick}"  disabled="{!nextButtonDisabled}" reRender="frmsup"></apex:commandButton>
                 <apex:commandButton value="Last"  action="{!LastbtnClick}"  disabled="{!nextButtonDisabled}" reRender="frmsup"></apex:commandButton>&nbsp;&nbsp;
            </div>         
            <input type="button" value="{!$Label.Select}" id="Select" style="cursor:pointer;cursor:hand;" onClick="funSelect();"/>
            <apex:pageBlockTable value="{!lstSupInfoPagination}" var="sObj" border="2">
                 <apex:column headerValue="" width="5%">
                    <apex:inputCheckbox id="checkedone" onclick="javascript:funValue('{!JSINHTMLENCODE(sObj.Supplier_Name__c)}','{!JSINHTMLENCODE(sObj.id)}',this);">                   
                    </apex:inputCheckbox>
                    <script>
                    checkid = document.getElementById("{!$Component.checkedone}").value;                    
                    </script>
                </apex:column>
                <apex:column value="{!sObj.Supplier_Name__c}" headervalue="Supplier Name" width="30%"></apex:column>
                <apex:column value="{!sObj.Globe_ID__c}" headervalue="SAP ID" width="15%"></apex:column>                
                <apex:column value="{!sObj.Country_Name__c}" headervalue="Country Name" width="15%"></apex:column> 
                <apex:column value="{!sObj.State_Name__c}" headervalue="State"  width="15%"></apex:column>
                <apex:column value="{!sObj.City__c}" headervalue="City" width="15%"></apex:column>
            </apex:pageBlockTable>  
            <br/>
           
            <input type="button" value="{!$Label.Select}" id="Select" style="cursor:pointer;cursor:hand;" onClick="funSelect();"/>
            <div align="right" style="display:{!IF(NOT(ISNULL(totallistsize)),'block','none')}">
                                 <b><font size="1pt" >Page &nbsp;<apex:outputLabel value="{!pageNumber}"/>&nbsp;of&nbsp;<apex:outputLabel value="{!totalPageNumber}"/>&nbsp;&nbsp;</font></b>
                                 <font size="1pt">Results&nbsp;<apex:outputLabel value="{!PrevPageNumber}"/>&nbsp;to&nbsp;<apex:outputLabel value="{!NxtPageNumber}"/>&nbsp;of&nbsp;<apex:outputLabel value="{!totallistsize}"/>&nbsp;&nbsp;</font>
                                 <apex:commandButton value="First" action="{!FirstbtnClick}" disabled="{!previousButtonEnabled}" reRender="frmsup"></apex:commandButton>
                                 <apex:commandButton value="<< Previous" action="{!previousBtnClick}" disabled="{!previousButtonEnabled}" reRender="frmsup"></apex:commandButton>
                                 <apex:commandButton value="Next >>" action="{!nextBtnClick}"  disabled="{!nextButtonDisabled}" reRender="frmsup"></apex:commandButton>
                                 <apex:commandButton value="Last"  action="{!LastbtnClick}"  disabled="{!nextButtonDisabled}" reRender="frmsup"></apex:commandButton>&nbsp;&nbsp;
            </div>  
            </apex:outputpanel>
        </apex:pageBlock> 
        <apex:actionFunction action="{!Search}" name="Search" reRender="frmsup"/>       
      </apex:form>
</apex:component>