<apex:page controller="BSureS_AnalystsReport" cache="true"
    contentType="application/vnd.ms-excel#OverdueTask_Report.xls"
    language="en-US">
    
    <apex:pageblock >
        <apex:pageBlockTable value="{!lstSupplierExport}" var="supplierInfo">
            <apex:column value="{!supplierInfo.strAnalystName}" headerValue="Analyst Name" />
            <apex:column value="{!supplierInfo.strSupplierName}" headerValue="Supplier Name" />
            <apex:column value="{!supplierInfo.strReviewStatus}" headerValue="Review Status" />
            <apex:column value="{!supplierInfo.strNextRvwDate}" headerValue="Next Review Date" />
            <apex:column value="{!supplierInfo.strGlobeID}" headerValue="Globe ID" />
        </apex:pageBlockTable>
    </apex:pageblock>
    
</apex:page>