<apex:page controller="BSureS_NSFRatingReport" cache="true" contentType="application/NSFRating/vnd.ms-excel#NSFRating.xls" language="en-US"  >
<apex:pageblock > 
		<apex:pageblocktable value="{!lstSupDetails}" var="sup">
			 <apex:column headervalue="{!$Label.BSureS_Supplier_Name}"  >
			 	 <apex:outputfield value="{!sup.Supplier_Name__c}" />			        
  			 	</apex:column> 
  			 	<apex:column headervalue="Rating"  >
			 	 <apex:outputfield value="{!sup.Rating__c}" />			        
  			 	</apex:column>
  			 	<apex:column headervalue="Globe ID"  >
			 	 <apex:outputfield value="{!sup.Globe_ID__c}" />			        
  			 	</apex:column>
		</apex:pageblocktable>
	</apex:pageblock>
</apex:page>