<apex:page controller="BSureS_NSFRatingReport" sidebar="false" id="pgrpt" tabstyle="BSureS_Reports__tab">
    <style type="text/css">
        .homeTab .tertiaryPalette 
        { 
            border-color: #35B4E9 !important;
        } 
        .headers
        { 
            font-weight: bold; 
            font-size:110%;
        }
        .underlineheaders
        { 
            font-weight: bold; 
            font-size:140%;
            text-decoration:underline;
        }
        .subheaders
        { 
            font-weight: bold; 
            font-size:110%;
        }
        .msg
        { 
            font-weight: bold; 
            font-size:14px;
            color: red;
        }
    </style>
    
    <style type="text/css">
       .customPopup{ 
            background-color: white;
            border-style: solid; 
            border-width: 4px;
            left: 50%; 
            padding:10px;
            position: absolute;
            z-index: 9999;
            /* These are the 3 css properties you will need to tweak so the pop 
            up displays in the center of the screen. First set the width. Then set 
            margin-left to negative half of what the width is. You can also add 
            the height property for a fixed size pop up.*/
            width: 500px;
            margin-left: -250px; 
            top:100px;
        } 
	</style> 
	
	<script>
		function getCookie(c_name)
		{
			var c_value = document.cookie;
			var c_start = c_value.indexOf(" " + c_name + "=");
			if (c_start == -1)
			{
				c_start = c_value.indexOf(c_name + "=");
			}	
			if (c_start == -1)
			{
				c_value = null;
			}
			else
			{
				c_start = c_value.indexOf("=", c_start) + 1;
				var c_end = c_value.indexOf(";", c_start);
				if (c_end == -1)
				{
					c_end = c_value.length;
				}
				c_value = unescape(c_value.substring(c_start,c_end));
			}
			return c_value;
		}
		
		function setCookie(c_name,value,exdays)
		{
			var exdate=new Date();
			//alert('Came here to set Cookie ');
			exdate.setDate(exdate.getDate() + exdays);
			var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
			//alert('Came here to set c_value ' + c_name + "=" + c_value);
			document.cookie = c_name + "=" + c_value;
			//document.cookie = "isTandCShown=true";
			//alert('Came here to set Cookie ' + document.cookie);
		}
		
		function checkCookie()
		{
			var isTnCpage = getCookie("isTandCShown");
			if (isTnCpage != null && isTnCpage != "" && isTnCpage == "true")
		  	{
		  		//alert("Welcome again " + isTnCpage);
		  	}
			else
		  	{
		  		//alert("Welcome again else " + isTnCpage);
		  		setCookie("isTandCShown",true, null);
		  		var firstQry = window.location;
		  		if(firstQry != "")     
			   	{   
			     	window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(firstQry);  
			   	}
		  	}
		}
	
		var referrerPage = document.referrer;
     		//alert('history===='+history.back(1));
		if (referrerPage.indexOf("frontdoor") >= 0 || referrerPage.indexOf("contentDoor") >= 0)
		{   
		  	var secondqry = window.location;
		  	//alert('secondqry ========  '+encodeURIComponent(secondqry));
			if(secondqry != "")     
		   	{   
		     	window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(secondqry);  
		   	}		  	 
	 	}
	 	else if(document.referrer == "")
	 	{
	 		checkCookie();
	 	}	 	
   	</script>
   	
    <script>        
        function isNumberKey(evt)
    	{
        	var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
    
           	return true;
        }
        
        function checkValidation(fromId,toId) 
        {               
            var fromDate;
            var toDate;                 
            var currentTime = new Date()
            var month = currentTime.getMonth() + 1 
            var day = currentTime.getDate()
            var year = currentTime.getFullYear()                            
            
             
            if(document.getElementById(fromId).value != ''){
                var valid = isDate(document.getElementById(fromId).value);                  
                if(valid == false){
                    alert('{!$Label.BSureS_From_Date_is_not_valid}');
                    return false;
                }
            }
            if(document.getElementById(toId).value != ''){
                var valid = isDate(document.getElementById(toId).value);                    
                if(valid == false){
                    alert('{!$Label.BSureS_To_Date_is_not_valid}');
                    return false;
                } 
            }
            
            if(document.getElementById(fromId).value != ''){
                fromDate = new Date(document.getElementById(fromId).value);
            }
            if(document.getElementById(fromId).value == '' )
            {
                alert('{!$Label.BSureS_Please_enter_From_Date}');
                return false;
            }                           
            if(document.getElementById(toId).value != ''){
                toDate =  new Date(document.getElementById(toId).value);
            }
            
            if(new Date(month + "/" + day + "/" + year) < fromDate){                    
                alert('{!$Label.BSureS_FromDate_should_not_be_greater_than_Today_s_Date}');
                return false;
            } 
            
            if(document.getElementById(toId).value == '' )
            {
                alert('{!$Label.BSureS_Please_enter_To_Date}');
                return false;
            }
                
            if(new Date(month + "/" + day + "/" + year) < toDate){
                alert('{!$Label.BSureS_To_Date_should_not_be_greater_than_Today_s_Date}');
                return false;
            } 
            if(fromDate > toDate)
            {
                alert('{!$Label.BSureS_From_Date_shold_not_be_greater_than_To_Date}');
                return false;
            }
            
            getResults();
            
            return false;               
        }
            
        function isDate(txtDate)
        {
            
            var currVal = txtDate;
            if(currVal == '')
                return false;
            
            var rxDatePattern = /^(\d{1,2})(\/|-)(\d{1,2})(\/|-)(\d{4})$/; //Declare Regex
            var dtArray = currVal.match(rxDatePattern); // is format OK?
            
            if (dtArray == null) 
                return false;
            
            //Checks for mm/dd/yyyy format.
            dtMonth = dtArray[1];
            dtDay= dtArray[3];
            dtYear = dtArray[5];   
            if (dtMonth < 1 || dtMonth > 12) 
                return false;               
            else if (dtDay < 1 || dtDay > 31)               
                return false;           
            else if ((dtMonth==4 || dtMonth==6 || dtMonth==9 || dtMonth==11) && dtDay ==31) 
                return false;
            else if (dtMonth == 2) 
            {
                var isleap = (dtYear % 4 == 0 && (dtYear % 100 != 0 || dtYear % 400 == 0));
                if (dtDay> 29 || (dtDay ==29 && !isleap)) 
                     return false;
            }
            return true;
        }   
               
        var oldonload = window.onload;
        if (typeof window.onload != 'function')
        {     
            window.onload = oldonload;
        }
        else
        {  
            window.onload = function() 
            {     
                if(oldonload) 
                {      
                    oldonload(); 
                }    
                removeSerchbox();
                setFocus();
            }  
        } 
        function removeSerchbox()
        {  
            var a = [];
            var re = new RegExp('\\bsearchCell\\b');
            var els =document.getElementsByTagName("td");
            for(var i=0,j=els.length; i<j; i++)
                if(re.test(els[i].className))
                    a.push(els[i]);
            var parent=a[0];
            parent.style.display='none';
        } 
        
        function setFocus() 
        {
            document.getElementById("hiddenElementId").focus();
        }
        
        function funSearchSuppliers()
        {       
            window.open('/apex/BSureS_SupplierSearch?supName='+ '','mywindow','width=1000,height=700,top=30,left=100,toolbar=no,scrollBars=auto,resizable=no');
            return false;
        }
    </script>
    <apex:form id="frmDetails">
    
        <apex:sectionheader title="{!$Label.NSF_Rating_Report}"/>
        <table width="100%">
            <tr>
                <td align="center">
                    <apex:messages styleClass="msg"/>
                </td>
                <td align="right">
                  <apex:outputLabel value="*" styleClass="msg"/><apex:outputLabel value="Mandatory"/>
                </td>
                <td width="30%"  style="text-decoration:none;" height="10%">
                    <input id="hiddenElementId" type="hidden" />
                </td>      
            </tr>
        </table>
        <hr></hr>
        <table width="100%" id="tab1">
        <tr>
            <td colspan="3"><apex:outputLabel value="{!$Label.BSureS_Search_Criteria}" styleClass="headers"/></td>
        </tr>
        <tr height="12"></tr>
        <tr id="tabtr1">
            <td width="30%"  style="text-decoration:none;" id="tabtd1" valign="top">
                <table width="100%" height="50%" style="padding-left:30px;" align="center" cellspacing="0">
                    <tr>
                    <td align="left" colspan="2">
                    <b>NSF Rating Period</b>
                    </td>
                    </tr>
                    <tr height="6"></tr>
                    <tr>
                        <td width="20%" align="left">
                        <apex:outputLabel value="{!$Label.BSureS_From_Date}" /><apex:outputLabel value="*" styleClass="msg"/>
                        </td>
                        <td width="70%" align="left">
                                <apex:inputtext id="fromDate" value="{!strFromDate}" onfocus="DatePicker.pickDate(false, this, false);" style="width:100px;" onKeyPress="return isNumberKey(this);" />
                                <span class="dateFormat"> [&nbsp;<a href="javascript:DatePicker.insertDate('{!strTodayDate}', '{!$Component.fromDate}', true);">{!strTodayDate} </a>&nbsp;]</span>
                        </td>
                    </tr>
                    <tr>
                        <td width="20%" align="left">
                         <apex:outputLabel value="{!$Label.BSureS_To_Date}" /><apex:outputLabel value="*" styleClass="msg"/>
                        </td>
                        <td width="70%" align="left">
                            <apex:inputtext id="toDate" value="{!strToDate}" onfocus="DatePicker.pickDate(false, this, false);" style="width:100px;" onKeyPress="return isNumberKey(this);"/>
                                <span class="dateFormat"> [&nbsp;<a href="javascript:DatePicker.insertDate('{!strTodayDate}', '{!$Component.toDate}', true);">{!strTodayDate} </a>&nbsp;]</span>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="30%"  style="text-decoration:none;"  id="tab2" valign="top">
                <table width="100%" height="50%" align="center" cellspacing="0" id="tabSub2">
                    <tr>
                    <td align="left" colspan="2">
                    <b>{!$Label.BSureS_Supplier_Information}</b>
                    </td>
                    </tr>
                    <tr height="6"></tr>
                    <tr id="tabSubtr2">
                        <td width="20%" align="left"> 
                            <apex:outputLabel value="{!$Label.SupplierName} " /> 
                        </td>
                        <td width="60%" align="left" id="tabSubtd2">
                            <apex:inputText id="SupplierName" value="{!strSupplierName}" maxlength="100" style="width:50%" >
                                <c:BSureS_AutoComplete autocomplete_textbox="{!$Component.SupplierName}" objectname="Vertex_BSureS__BSureS_Basic_Info__c" additionalfield="Vertex_BSureS__Supplier_Name__c"></c:BSureS_AutoComplete>
                            </apex:inputText> 
                            <b>&nbsp; or &nbsp;
                            </b>                 
                            <img src="/s.gif" alt="alt" class="lookupIcon" onclick="return funSearchSuppliers();" onblur="this.className = 'lookupIcon';" onfocus="this.className = 'lookupIconOn';" onmouseout="this.className = 'lookupIcon';" onmouseover="this.className = 'lookupIconOn';" title=" Search"/>
                            <script>vsupplier_name=document.getElementById('{!$Component.SupplierName}');</script>   
                        </td>
                    </tr>
                    <tr>
                        <td width="20%" align="left">
                         <apex:outputLabel value="{!$Label.BSureS_Analyst}" /> 
                        </td>
                        <td width="60%" align="left">
                        <apex:inputText id="Analyst" value="{!strAnalystName}" maxlength="100" style="width:50%" >
                            <c:BSureS_AutoComplete autocomplete_textbox="{!$Component.Analyst}" objectname="User" additionalfield="Name" profilename="BSureS_Analyst"></c:BSureS_AutoComplete>
                        </apex:inputText> 
                        <apex:commandLink action="{!showBuyerDetails}">
                            <img src="/s.gif" alt="Vendor ID Lookup (New Window)" class="lookupIcon"  onblur="this.className = 'lookupIcon';"  onfocus="this.className = 'lookupIconOn';" onmouseout="this.className = 'lookupIcon';this.className = 'lookupIcon';" onmouseover="this.className = 'lookupIconOn';this.className = 'lookupIconOn';" title=" Lookup (New Window)"/>
                        </apex:commandLink>
                        <apex:outputPanel rendered="{!showeditrecs}" styleClass="customPopup" >
                            <apex:pageblock mode="maindetail">
                                <apex:pageBlockSection columns="6">
                                    <apex:outputlabel value="Search"/>
                                    <apex:inputText value="{!strAnalystSearch}" />
                                    <apex:commandButton value="GO" action="{!searchBtn}" rerender="userList"/>
                                </apex:pageBlockSection>                                
                                <apex:pageBlockTable value="{!lstAnalystUser}" var="assAnalyst" id="userList">
                                    <apex:column headerValue="Analyst" >
                                        <apex:commandLink value="{!assAnalyst.Name}" action="{!closepopup}" >
                                            <apex:param name="Analystid" value="{!assAnalyst.Name}"/>
                                        </apex:commandLink> 
                                    </apex:column>
                                </apex:pageBlockTable>                              
                                <apex:pageBlockButtons location="bottom" >
                                    <apex:commandButton action="{!closepopupBtn}"  value="Close"/> 
                                 </apex:pageBlockButtons>
                            </apex:pageblock>
                        </apex:outputPanel>
                        </td>
                    </tr>
                    
                </table>
            </td>
            <td width="30%"  style="text-decoration:none;" valign="top">                
                <table width="100%" height="50%" align="center" cellspacing="0">
                    <tr>
                    <td align="left" colspan="2">
                    <b>Region Information</b>
                    </td>
                    </tr>
                    <tr height="6"></tr>
                    <tr>
                        <td width="20%" align="left"> 
                            <apex:outputLabel value="{!$Label.BSureS_Zone} "></apex:outputLabel>
                        </td>
                        <td width="70%" align="left">
                            <apex:selectList value="{!strSupplierZone}" id="SZid" size="1" style="width:60%;"> 
                                <apex:selectOptions value="{!lstSZone}" /> 
                                <apex:actionSupport reRender="frmDetails" event="onchange" action="{!getSSubZoneList}"  />
                            </apex:selectList>  
                        </td>
                        </tr>
                        <tr>
                        <td width="20%" align="left">
                            <apex:outputLabel value="{!$Label.BSureS_SubZone} "></apex:outputLabel>
                        </td>
                        <td width="70%" align="left">
                            <apex:selectList value="{!strSupplierSubZone}" id="SSZid" size="1" style="width:60%;"> 
                                <apex:selectOptions value="{!lstSSubZone}" /> 
                                <apex:actionSupport reRender="frmDetails" event="onchange" action="{!getSCountriesList}" />
                            </apex:selectList> 
                        </td>
                        </tr>
                        <tr>
                        <td width="20%" align="left">
                            <apex:outputLabel value="{!$Label.BSureS_Country} "></apex:outputLabel>
                        </td>
                        <td width="70%" align="left" >
                            <apex:selectList value="{!strSupplierCountry}" id="SCid" size="1" style="width:60%;"> 
                                <apex:selectOptions value="{!lstSCountry}" />                                          
                            </apex:selectList> 
                        </td>
                    </tr>
                </table>
        </td>

        </tr>
        <tr>
        <td height="10%"></td>
        </tr>
        <tr>
            <td width="30%"  style="text-decoration:none;" height="10%">
                <!--<input id="hiddenElementId" type="hidden" />
            --></td>       
            <td  width="30%"  style="text-decoration:none;" >
                <table width="100%" height="50%" align="center">
                    <tr>
                        <td width="50%" align="right">
                            <apex:commandbutton value="{!$Label.BSureS_Search}" rerender="frmDetails" id="userList"  onClick="return checkValidation('{!$Component.fromDate}','{!$Component.toDate}')" style="cursor:pointer;cursor:hand;"/>
                            <apex:actionFunction action="{!getResults}" name="getResults" />  
                        </td>
                        <td width="50%" align="left" >                            
                            <apex:Commandbutton value="{!$Label.BSureS_Cancel}" action="{!Cancel}" />                          
                        </td>
                    </tr>
                </table>
            </td>
            <td width="30%"  style="text-decoration:none;" height="10%"></td>
        </tr>
    </table>
        
    <apex:pageblock id="pbResults" mode="maindetail" rendered="{!if(lstResults.size > 0,true,false)}">  
        <apex:pageBlockSection title="{!$Label.BSureS_Results}" columns="1"  collapsible="false" >
        <br/>
            <apex:pageblocktable value="{!lstResults}" id="resultid" var="result" style="width:20%" >
                <apex:column headervalue="Rating" style="width:10%" >
                    <apex:outputText value="{!result.strRatingImg}" escape="false"/>
                </apex:column>
                <apex:column headervalue="Total Number of Suppliers"  style="width:10%">
                    <apex:commandLink value="{!result.intSupplierCount}" action="{!getSupDetails}" onclick="location.href='#pgrpt:frmDetails:renderOpt'" rerender="renderOpt" >
                        <apex:param name="SupRate" value="{!result.strRating}"/>
                    </apex:commandLink>
                </apex:column>
            </apex:pageblocktable>
           </apex:pageBlockSection> 
        </apex:pageblock>
         <br/> 
            <apex:outputtext value="No Records found for the selected criteria" style="color:red;font-size:15px;font-weight:bold;padding-left:50px;" rendered="{!if(lstResults.size == 0,true,false)}"> </apex:outputtext>
            
        <apex:outputpanel Id="renderOpt" >            
        <apex:pageblock id="pbSupDetails" mode="maindetail"  rendered="{!if(lstSupDetailsPagination.size > 0,true,false)}" > 
            <apex:pageBlockSection title="Suppliers with a Rating of {!strSelectedRateSup}" columns="1"  collapsible="false">
                <apex:outputpanel >      
                    <table width="100%" >
                        <tr>
                            <td width="40%" align="center">
                                <apex:commandbutton value="{!$Label.BSureS_Export_To_Excel}"  style="width:100px;"  action="{!ExportToExcel}" disabled="{!(lstSupDetailsPagination.size = 0)}"  />
                            </td>
                            <td width="60%" align="center" >          
                                 <div align="Center" style="display:{!IF(NOT(ISNULL(totallistsize)),'block','none')}">
                                                 <b><font size="1pt" >Page &nbsp;<apex:outputLabel value="{!pageNumber}"/>&nbsp;of&nbsp;<apex:outputLabel value="{!totalPageNumber}"/>&nbsp;&nbsp;</font></b>
                                                 <font size="1pt">Results&nbsp;<apex:outputLabel value="{!PrevPageNumber}"/>&nbsp;to&nbsp;<apex:outputLabel value="{!NxtPageNumber}"/>&nbsp;of&nbsp;<apex:outputLabel value="{!totallistsize}"/>&nbsp;&nbsp;</font>
                                                 <apex:commandButton value="First" action="{!FirstbtnClick}" disabled="{!previousButtonEnabled}" reRender="pbSupDetails"></apex:commandButton>
                                                 <apex:commandButton value="<< Previous" action="{!previousBtnClick}" disabled="{!previousButtonEnabled}" reRender="pbSupDetails"></apex:commandButton>
                                                 <apex:commandButton value="Next >>" action="{!nextBtnClick}"  disabled="{!nextButtonDisabled}" reRender="pbSupDetails"></apex:commandButton>
                                                 <apex:commandButton value="Last"  action="{!LastbtnClick}"  disabled="{!nextButtonDisabled}" reRender="pbSupDetails"></apex:commandButton>&nbsp;&nbsp;
                                </div>
                           </td>
                        </tr>
                    </table> 
                </apex:outputpanel>
                <apex:pageblocktable value="{!lstSupDetailsPagination}" id="resultid" var="supresult" style="width:60%">
                    <apex:column style="width:40%">
                        <apex:outputlink value="/{!supresult.Id}"  target="_blank"> {!supresult.Supplier_Name__c} </apex:outputlink>
                         <apex:facet name="header">
                           <apex:commandLink value="{!$Label.BSureS_Supplier_Name}" action="{!Sort}" rerender="renderOpt" >
                                <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),IF(sortExpression== 'Supplier_Name__c',true,false))}" styleClass="sortDesc" title="Sorted Descending" alt="Sorted Descending" />
                                    <apex:image url="/s.gif"  rendered="{!AND(IF(sortDirection!='ASC',true,false),IF(sortExpression=='Supplier_Name__c',true,false))}" styleClass="sortAsc" title="Sorted Ascending" alt="Sorted Ascending" />
                             <apex:param value="Supplier_Name__c" name="sortExpression" assignTo="{!sortExpression}" ></apex:param>
                             <apex:param name="SupRate" value="{!strSelectedRateSup}" />
                           </apex:commandLink> 
                         </apex:facet>
                    </apex:column>
                    <apex:column headervalue="Rating" style="width:10%; text-align:center;" value="{!supresult.Rating_Type__c}">
                    </apex:column>
                    <apex:column value="{!supresult.Globe_ID__c}">
                    <apex:facet name="header">
                       <apex:commandLink value="{!$Label.BSureS_Globe_ID}" action="{!Sort}"   rerender="renderOpt"  >
                            <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),IF(sortExpression== 'Globe_ID__c',true,false))}" styleClass="sortDesc" title="Sorted Descending" alt="Sorted Descending" />
                                <apex:image url="/s.gif"  rendered="{!AND(IF(sortDirection!='ASC',true,false),IF(sortExpression=='Globe_ID__c',true,false))}" styleClass="sortAsc" title="Sorted Ascending" alt="Sorted Ascending" />
                         <apex:param value="Globe_ID__c" name="sortExpression" assignTo="{!sortExpression}" ></apex:param>
                       </apex:commandLink> 
                     </apex:facet>
                    </apex:column>
                </apex:pageblocktable>  
            </apex:pageBlockSection> 
        </apex:pageblock>  
        </apex:outputpanel>           
    </apex:form> 
</apex:page>