<apex:page controller="BSureS_AnalystsReport" id="thePage" sidebar="false" tabstyle="BSureS_Reports__tab">
<style>
    .homeTab .tertiaryPalette {            
        border-color: #35B4E9 !important;
    }
    .headers
    { 
        font-weight: bold; 
        font-size:110%;
    }
</style>

<script>
		function getCookie(c_name)
		{
			var c_value = document.cookie;
			var c_start = c_value.indexOf(" " + c_name + "=");
			if (c_start == -1)
			{
				c_start = c_value.indexOf(c_name + "=");
			}	
			if (c_start == -1)
			{
				c_value = null;
			}
			else
			{
				c_start = c_value.indexOf("=", c_start) + 1;
				var c_end = c_value.indexOf(";", c_start);
				if (c_end == -1)
				{
					c_end = c_value.length;
				}
				c_value = unescape(c_value.substring(c_start,c_end));
			}
			return c_value;
		}
		
		function setCookie(c_name,value,exdays)
		{
			var exdate=new Date();
			//alert('Came here to set Cookie ');
			exdate.setDate(exdate.getDate() + exdays);
			var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
			//alert('Came here to set c_value ' + c_name + "=" + c_value);
			document.cookie = c_name + "=" + c_value;
			//document.cookie = "isTandCShown=true";
			//alert('Came here to set Cookie ' + document.cookie);
		}
		
		function checkCookie()
		{
			var isTnCpage = getCookie("isTandCShown");
			if (isTnCpage != null && isTnCpage != "" && isTnCpage == "true")
		  	{
		  		//alert("Welcome again " + isTnCpage);
		  	}
			else
		  	{
		  		//alert("Welcome again else " + isTnCpage);
		  		setCookie("isTandCShown",true, null);
		  		var firstQry = window.location;
		  		if(firstQry != "")     
			   	{   
			     	window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(firstQry);  
			   	}
		  	}
		}
	
		var referrerPage = document.referrer;
     		//alert('history===='+history.back(1));
		if (referrerPage.indexOf("frontdoor") >= 0 || referrerPage.indexOf("contentDoor") >= 0)
		{   
		  	var secondqry = window.location;
		  	//alert('secondqry ========  '+encodeURIComponent(secondqry));
			if(secondqry != "")     
		   	{   
		     	window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(secondqry);  
		   	}		  	 
	 	}
	 	else if(document.referrer == "")
	 	{
	 		checkCookie();
	 	}	 	
   	</script>
   	
<Script language="javascript" type="text/javascript">
    function removeSerchbox()
    {  
       var a = [];
       var re = new RegExp('\\bsearchCell\\b');
       var els =document.getElementsByTagName("td");
       for(var i=0,j=els.length; i<j; i++)
        if(re.test(els[i].className))
        a.push(els[i]);
        var parent=a[0];
       parent.style.display='none';
    } 
    var oldonload = window.onload;
    if (typeof window.onload != 'function')
    {     
       window.onload = oldonload;
    }
    else
    {  window.onload = function() 
       {     
          if(oldonload) 
          {      
             oldonload(); 
          }    
          removeSerchbox();
       }  
    } 
</Script>
<apex:form id="theform">
    <apex:sectionheader subtitle="{!$Label.BsureS_Overdue_Tasks}"/>
    <hr></hr>
    <apex:pageBlock id="pb1" mode="maindetail">
    <apex:outputLabel value="Search Criteria" styleClass="headers"/>
    <table width="100%" style="padding-left:300px;" >
    <tr>
        <td width="50%" >
            <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Region Information</b><br/><br/>
            <apex:panelGrid columns="3">
                <apex:outputlabel >
                    <b style="padding-left:20px;color:#4A4A56;font-size:11px"> Zone  </b>
                </apex:outputlabel>
                <apex:selectList value="{!strZoneId}" size="1" id="zoneId" style="width:150px;">
                         <apex:selectOptions value="{!ZoneOptions}" />
                         <apex:actionSupport event="onchange"  action="{!getSubZones}" rerender="pb1"   />
                </apex:selectList>&nbsp;&nbsp;
                 
                <apex:outputlabel > 
                    <b style="padding-left:20px;color:#4A4A56;font-size:11px"> Sub Zone  </b> 
                </apex:outputlabel>
                <apex:selectList value="{!strSubZoneId }" size="1" id="subZoneId" style="width:150px;">
                         <apex:selectOptions value="{!SubZoneOptions}" />
                         <apex:actionSupport event="onchange"  action="{!getCountries}" rerender="pb1"  />
                </apex:selectList>&nbsp;&nbsp;
                
                <apex:outputlabel >
                    <b style="padding-left:20px;color:#4A4A56;font-size:11px"> Country  </b>
                </apex:outputlabel>
                <apex:selectList value="{!strCountryId}" size="1"   id="countryId" style="width:150px;">
                        <apex:selectOptions value="{!CoutryOptions}" />
                </apex:selectList>&nbsp;&nbsp;
            </apex:panelGrid>
        </td>
    </tr>   
    </table>     
    <table width="100%" style="padding-left:320px;">
            <tr>
                <td>
                  <apex:commandbutton value="Search "  action="{!Search}" style="width:100px;"  id="pbid"/> &nbsp;
                  <apex:commandbutton value="Export to Excel "  action="{!ExportCSV}" style="width:100px;"  rendered="{!(lstSupplInfo.size > 0)}"/ > &nbsp;
                  <apex:commandbutton value="Cancel" action="{!Cancel}" style="width:100px;" />             </td> 
            </tr>
        </table>
        
    </apex:pageBlock>  
<apex:pageblock mode="maindetail" id="pbid">
    <apex:outputText rendered="{!(lstSupplInfo.size = 0)}" value="There are no Tasks that match your search criteria." style="Padding-left:0px; color:Red; font-size:17px;" styleClass="msg" />
        <apex:outputpanel id="pnlsearch" rendered="{!!(lstSupplInfo.size = 0)}" >
        <div align="right" style="display:{!IF(NOT(ISNULL(totallistsize)),'block','none')}">
             <b><font size="1pt" >Page &nbsp;<apex:outputLabel value="{!pageNumber}"/>&nbsp;of&nbsp;<apex:outputLabel value="{!totalPageNumber}"/>&nbsp;&nbsp;</font></b>
             <font size="1pt">Results&nbsp;<apex:outputLabel value="{!PrevPageNumber}"/>&nbsp;to&nbsp;<apex:outputLabel value="{!NxtPageNumber}"/>&nbsp;of&nbsp;<apex:outputLabel value="{!totallistsize}"/>&nbsp;&nbsp;</font>
             <apex:commandButton value="First" action="{!FirstbtnClick}" disabled="{!previousButtonEnabled}" reRender="pbid"></apex:commandButton>
             <apex:commandButton value="<< Previous" action="{!previousBtnClick}" disabled="{!previousButtonEnabled}" reRender="pbid"></apex:commandButton>
             <apex:commandButton value="Next >>" action="{!nextBtnClick}"  disabled="{!nextButtonDisabled}" reRender="pbid"></apex:commandButton>
             <apex:commandButton value="Last"  action="{!LastbtnClick}"  disabled="{!nextButtonDisabled}" reRender="pbid"></apex:commandButton>&nbsp;&nbsp;
        </div>  
    <table border="0" width="100%">
        <tr height="21px">
            <td width="20%" bgcolor="#F3F1F3" valign="middle"><b>Analyst Name</b>
            </td>
        </tr>
    </table>    
    <apex:repeat value="{!lstSupplierPagination}" id="theRepeat" var="anly">
        <apex:pageblockSection title="{!anly.strAnalystName}" collapsible="true" id="CollapseDefault" columns="1">
            <script>
                var tempSuppInfo = "{!anly.strSupplierInfo}";
                //alert('tempSuppInfo----' + tempSuppInfo);
            </script>
            <apex:outputPanel id="divSuppInfo" layout="block"/>
            <script>
                if(tempSuppInfo.length > 0)
                {
                    document.getElementById("{!$Component.divSuppInfo}").innerHTML = tempSuppInfo;
                }
            </script>
        </apex:pageblockSection>
    </apex:repeat>
    
    <div align="right" style="display:{!IF(NOT(ISNULL(totallistsize)),'block','none')}">
             <b><font size="1pt" >Page &nbsp;<apex:outputLabel value="{!pageNumber}"/>&nbsp;of&nbsp;<apex:outputLabel value="{!totalPageNumber}"/>&nbsp;&nbsp;</font></b>
             <font size="1pt">Results&nbsp;<apex:outputLabel value="{!PrevPageNumber}"/>&nbsp;to&nbsp;<apex:outputLabel value="{!NxtPageNumber}"/>&nbsp;of&nbsp;<apex:outputLabel value="{!totallistsize}"/>&nbsp;&nbsp;</font>
             <apex:commandButton value="First" action="{!FirstbtnClick}" disabled="{!previousButtonEnabled}" reRender="pbid"></apex:commandButton>
             <apex:commandButton value="<< Previous" action="{!previousBtnClick}" disabled="{!previousButtonEnabled}" reRender="pbid"></apex:commandButton>
             <apex:commandButton value="Next >>" action="{!nextBtnClick}"  disabled="{!nextButtonDisabled}" reRender="pbid"></apex:commandButton>
             <apex:commandButton value="Last"  action="{!LastbtnClick}"  disabled="{!nextButtonDisabled}" reRender="pbid"></apex:commandButton>&nbsp;&nbsp;
    </div> 
    
    </apex:outputpanel>
</apex:pageblock>
</apex:form>
</apex:page>